
body {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    background: transparent;
    padding: 0px;
    margin: 0px;
    color: #FFFFFF;
    font-family: "Helvetica", monospace;
    white-space: nowrap;
}

.background_image {
    position: absolute;
    top: 0px;
    left: 0px;
}

.background_lines {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 0px;
    left: 0px;
    background-image: url("./img/lines.png");
    -webkit-mask-image: url("./img/overlay-mask.png");
    background-repeat: repeat-x;
    opacity: 0.3;
}

.player_wrapper {
    font-size: 48px;
    font-weight: 600;
    padding: 16px 0px;
    position: absolute;
}

.player1_wrapper {
    opacity: 0;
    position: absolute;
}

.player2_wrapper {
    opacity: 0;
    position: absolute;
}

.player1_name {
    text-align: left;
}

.player2_name {
    float: right;
}

.player1_score_wrapper {
    opacity: 0;
    position: absolute;
}

.player2_score_wrapper {
    opacity: 0;
    position: absolute;
}

.p1_score_image {
    position: absolute;
}

.p2_score_image {
    position: absolute;
}

.player1_score_number_wrapper {
    opacity: 0;
    position: absolute;
    top: 16px;
    right: 20px;
    font-size: 48px;
    font-weight: 600;
}

.player2_score_number_wrapper {
    opacity: 0;
    position: absolute;
    top: 16px;
    left: 20px;
    font-size: 48px;
    font-weight: 600;
}

.player1_score {
    text-align: left;
}

.player2_score {
    float: right;
}

.round_wrapper {
    opacity: 0;
    position: absolute;
    width: 1920px;
    top: 7px;
    left: 0px;
    font-size: 32px;
    font-weight: 450;
    padding: 4px 0px;
    text-align: center;
}

.best_of_wrapper {
    opacity: 0;
    position: absolute;
    width: 1920px;
    top: 42px;
    left: 0px;
    font-size: 24px;
    font-weight: 300;
    padding: 4px 0px;
    text-align: center;
}

.tournament_name_wrapper {
    opacity: 0;
    position: absolute;
    width: 1920px;
    top: 997px;
    left: 0px;
    font-size: 32px;
    font-weight: 450;
    padding: 4px 0px;
    text-align: center;
}

.game_wrapper {
    opacity: 0;
    position: absolute;
    width: 1920px;
    top: 1032px;
    left: 0px;
    font-size: 24px;
    font-weight: 300;
    padding: 4px 0px;
    text-align: center;
}

.background_lines_lobby {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 0px;
    left: 0px;
    background-image: url("./img/lines.png");
    -webkit-mask-image: url("./img/transtion-mask.png");
    background-repeat: repeat-x;
    opacity: 0.3;
}

.next_game_wrapper {
    position: absolute;
}

.tournament_message {
    width: 1920px;
    font-size: 32px;
    font-weight: 450;
    position: absolute;
    top: 190px;
    left: 0px;
    text-align: center;
    opacity: 0;
}

.next_game {
    width: 160px;
    font-size: 48px;
    font-weight: 600;
    position: absolute;
    top: 290px;
    left: 880px;
    text-align: center;
    opacity: 0;
}

.vs_text {
    font-size: 86px;
    font-weight: 800;
    width: 160px;
    position: absolute;
    top: 337px;
    left: 880px;
    text-align: center;
    opacity: 0;
}

.player_lobby_wrapper {
    font-size: 64px;
    font-weight: 600;
    padding: 16px 0px;
    position: absolute;
}

.player1_lobby_wrapper {
    opacity: 0;
    position: absolute;
    width: 710px;
    text-align: center;
}

.player2_lobby_wrapper {
    opacity: 0;
    position: absolute;
    width: 710px;
    text-align: center;
}

.player1_lobby_name {
    top: 50%;
    right: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
}

.player2_lobby_name {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.round_lobby_wrapper {
    opacity: 0;
    position: absolute;
    width: 1920px;
    top: 440px;
    left: 0px;
    font-size: 32px;
    font-weight: 450;
    padding: 4px 0px;
    text-align: center;
}
