
html, body {
    color: #FFFFFF;
    background: linear-gradient(to bottom, #A72525, #CC5050);
    font-family: "Segoe UI";
    padding: 0px;
    margin: 0px;
    transition-timing-function: ease-in-out;
}

.header {
    height: 90px;
    width: 100%;
    background-color: #222222;
}

.grid_container {
    width: 100%;
    flow:grid(1 1 2 2,
              3 3 6 6,
              4 4 6 6,
              5 5 6 6);
}

.grid_container > div {
    vertical-align: middle;
    width: 50%;
    min-width: 400px;
    max-width: 50%;
}

.controls_container > div {
    padding-top: 10px;
}

.row {
    width: 100%;
}

h2 {
    width: 100%;
    text-align: center;
    margin: 4px 0;
}

input, select, label {
    display: inline-block;
}

input {
    height: 12px;
    border: 1px solid #EEEEEE;
    border-radius: 2px;
    resize: vertical;
    height: 18px;
    width: 65%;
    margin: 2px 0px 2px 0px;
    padding: 4px 6px 4px 6px;
}

select {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 2px;
    resize: vertical;
    cursor: pointer;
    height: 18px;
    width: 65%;
    margin: 2px 0px 2px 0px;
    padding: 4px 0px 4px 0px;
}

button {
    border: none;
    cursor: pointer;
}

label {
    display: inline-block;
    clear: left;
    width: 30%;
    padding: 4px 0px 4px 0px;
    text-align: right;
    margin: 0;
}

/* Before this would affect all the buttons, including the small buttons on dropdowns. This only affects the buttons that it needs to */
.controls_container > div > button {
    border: 1px solid #EEEEEE;
    border-radius: 2px;
    color: #000000;
    background: rgba(255, 255, 255, 1.0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: color 0.1s;
    transition: background-color 0.1s;
}

.controls_container > div > button:hover {
    color: #FFFFFF;
    background: #222222;
}

#settings {
    position: relative;
    width: 90px;
    height: 90px;
    padding: 0px;
    border: none;
    border-radius: 0px;
    float: right;
    overflow: hidden;
    background: #222222;
}

#settings::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(".\\gear.png") 0 0 no-repeat;
    background-position: center;
    transform: rotate(0deg);
}

#settings:hover {
    background: #A72525;
}

#settings::before:hover {
    transform: rotate(22.5deg);
}

#swap {
    display: inline-block;
    width: 45%;
    padding: 4px 0px 4px 0px;
}

#queue_up {
    display: inline-block;
    width: 45%;
    padding: 4px 0px 4px 0px;
}

#update {
    width: 90%;
    padding: 32px 2px 32px 2px;
}

#save {
    position: relative;
    top: 12px;
    left: 5%;
    width: 90%;
    padding: 32px 2px 32px 2px;
}
